
#desp #languages table.overviewses,#desp #languages table.tableform1{
	border: 0;width:540pt;
}

#desp ttable.overviewses td.lanhist_tdleft {border-bottom: 1pt black solid ;border-right: 1pt black solid ;border-left: 1pt black solid;}
#desp ttable.overviewses td.lanhist {border-bottom: 1pt black solid ;border-right: 1pt black solid;}
#desp ttable.overviewses td.lanhist_tdright {border-bottom: 1pt black solid ;border-right: 1pt black solid;}

#desp table.overviewses th{background-color:#e7e7e8;}
#desp #languages table.overviewses th{background-color:#e7e7e8;}
#desp .hz1 {height:60pt;}
#desp .hz3 {height:260pt;}
#desp .hz9 {height:360pt;}

#desp .ws1 {width:1pt;}
#desp .ws2 {width:115pt;}
#desp .ws3 {width:14pt;}
#desp .ws4 {width:410pt;}

#desp .underl {border-bottom: 1pt black solid;font-size: 14pt;font-weight:bold;}

#desp h2.despsp2{margin-top:10pt;padding-top:10pt;font-style:italian;}

#desp .spgerstbl{border-collapse: collapse;border:1px black solid;}
#desp .spgerstbl td{padding:3pt;}
#desp td.spgers_h3,#desp td.spgers_h4,#desp td.spgers_h5{
	color:white;size:18pt;font-weight:bold;text-align:center;
}
#desp td.spgers_h1 {width:20pt;}
#desp td.spgers_h2 {width:29pt;}
#desp td.spgers_h3,#desp td.spgers_h4,#desp td.spgers_h5 {width:200pt;}
#desp td.spgers_s1 {width:20pt;background-color:#e7e7e8;color:black;vertical-align:center;text-align:center;border:1pt black solid;}
#desp td.spgers_s2 {width:29pt;background-color:#bdbec1;color:black;font-weight:bold;padding:auto;margin:auto;border:1pt black solid;}
#desp td.spgers_s3,#desp .spgers_s4,#desp .spgers_s5{width:200pt;font-size:7pt;border:1pt black solid;vertica-align:top;text-align:left;}
#desp td.spgers_s1 img {padding:4pt 2pt;}
#desp td.spgers_s2 img {padding:auto;margin:auto;}

	
#desp #page_margins {

	padding: 0 0 60pt 0;
}


#desp h1 {
	font-size: 18pt;
	font-style:normal;
	margin-bottom:15pt;
}

#desp h2 {
	font-size: 14pt;
	font-style:italic;
	margin-top:22pt;
	margin-bottom: 7pt;
	color:#868889;
}

#desp h3 {
	font-size: 14pt;
	font-style:italic;
	margin-top:15pt;
	margin-bottom: 15pt;
	color:#868889;
}



#desp .sp_exaport p {
	display: inline;
}
#desp span.sp_exaporttxt {
	padding-left:7pt;
}



#desp .view-item-header {
	font-weight: bold;
}

#desp .spasslangblock {
	margin-bottom:30pt;
}

#desp table.tableform1, #desp table.tableform2, #desp table.tableform3 {
	width:100%;
	border-collapse:collapse;
}

#desp table.vzartableleg {
	border-collapse:collapse;
	width:45%;
}

#desp table.tableform1 td {
	width:25%;
	background-color: #FFFFFF;
}

#desp table.tableform2 td, #desp table.tableform3 td, #desp table.vzartableleg td {
	background-color: #FFFFFF;
}

#desp table.tableform1 th, #desp table.tableform2 th, #desp table.tableform3 th, #desp table.vzartableleg th {
	background-color: #ececed;
	font-weight:normal;
}

#desp table.tableform1 td, #desp table.tableform1 th, #desp table.tableform2 td, #desp table.tableform2 th, #desp table.tableform3 td, #desp table.tableform3 th, #desp table.vzartableleg td, #desp table.vzartableleg th {
	border: 0,5pt solid #000;
	padding:4pt 7pt;
	vertical-align:top;
}

#desp table.vzartableleg th {
	text-align:left;
}

#desp table.vzartable td {
	height:30pt;
}

#desp table.vzartableleg1 {
	float:left; margin-right:37pt;
}


#desp table.tableform1 textarea {
	border: 0;
	width: 100%;
}

#desp .txtsmall {
	font-size: 9pt;
}

#desp table.tableform2 th.listselect, #desp table.tableform2 td.listselect {
	width: 49pt;
	vertical-align:bottom;
	font-size:9pt;
	text-align:center;
}

#desp table.tableform2 td.listfirst {
	width: 11pt;
}

#desp input.topinput {
	background-color: #FFFFFF;
	border: 2pt dotted #FDD68E;
	height: 19pt;
	padding:2pt 4pt;
}



#desp table.tableform2 td.listsubquest {
	padding-left: 34pt;
}



#desp table.tableform3 th.slp {
	font-size:9pt;
}

#desp table.tableform3 th.slp2 {
	width: 71pt;
}

#desp table.tableform3 th.slp3 {
	width: 90pt;
}

#desp table.tableform3 input {
	border:0;
}

#desp table.tableform3 input.date {
	margin-right: 2pt;
	border: 1pt solid #c2c2c2;

}

#desp table.tableform3 td {}

#desp table.tableform3 textarea {
	border: 0;
	width: 100%;
}

#desp th.tableses1 {
	width:195pt;
}

#desp th.tableses2 {
	text-align:center;
}


#desp table.overviewses td.1 {
	background: #f04916 url([[pix:theme|ov_skill1]]) repeat-x 0 0;
	padding-left:15pt;
}

#desp table.overview_sesyell td {
	background-color: #ffefd3;
}


#desp table.overviewses a.goto {
	display:block;
	background: #ffefd3 url('images/goto.gif') no-repeat center;
	height:19pt;
}

#desp table.overviewses a:hover.goto {
	background-color: #fdd68e;
}

#desp table.overviewses td {
	vertical-align: middle;
}

#desp table.tableform3 td.sk1 {
	width: 15pt;
	vertical-align: middle;
}

#desp table.tableform3 td.sk2 {
	width: 233pt;
}


#desp table.tableform3 td.sk3 {
}

#desp table.tableform3 td.kgb2 {
	width:113pt;
}

#desp table.tableform3 td.kgb25p, #desp table.tableform3 th.kgb25p {
	width:25%;
	text-align:left;
}

#desp table.tableform3 th.kgb2, #desp table.tableform3 th.kgb1,#desp table.tableform3 td.kgb, #desp table.tableform3 th.kgb {
	text-align:left;
}

.sp_exaport .desp_sp-view-item-header {font-weight:bold;font-size:14pt;}
.sp_exaport{margin-top:12pt;}

/* neu von exastud*/
body #desp {
	font-family: 'Open Sans', sans-serif,'Trebuchet MS', Verdana, Arial;
	color: #000;
	font-size: 12pt;
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
}

#desp #printsectionhoch {
	width: 595, 3pt;
	background-color: #fff;
	height: 842;
	position: relative;
}

#desp .printpage {
	margin: 60 52.5 0 52.5;
}

#desp .printderpass {
	font-size: 22.5pt;
}

#desp .printpersonalinfo,#desp .printblock {
	border: 0.25pt solid #848484;
	border-radius: 3.75pt;
	margin-top: 37.5pt;
	width: 600pt;
	padding: 15pt;
}

#desp .printtable {
	width: 600pt;
}

#desp .printpersonalinfo table,#desp .printblock table {
	width: 100%;
}

#desp .printblock h2 {
	font-size: 18pt;
	margin: 0pt;
	padding: 0pt;
}

#desp .printblockinfo {
	margin-bottom: 22.5pt;
}

#desp .printpersonalinfo  table td {
	
}

#desp img.printpersonalinfo_img {
	width: 100pt;
}

#desp td.printpersonalinfo_imgcontainer {
	text-align: right;
	width: 40%;
}

#desp td.printpersonalinfo_heading {
	font-size: 18;
	height: 18;
	vertical-align: bottom;
	width: 60%;
}

#desp td.printpersonalinfo_subheading {
	font-size: 9pt;
	height: 22.5pt;
	border-top: 0.75pt solid #848484;
	vertical-align: top;
}

#desp .printtable tr.printrowgrey,.printtable tr.printrowheading,.printtable tr.printrowsubheading
	{
	background-color: #dcdcdc;
}

#desp .printtable tr.printrowheading {
	font-weight: bold;
	font-style: italic;
	color: #545454;
	font-size: 13.5pt;
	vertical-align: middle;
}

#desp .printtable tr.printrowheading h3 {
	font-weight: bold;
	font-style: normal;
	color: #000;
	font-size: 16.5pt;
	margin: 0pt;
	padding: 0pt;
}

#desp .printtable tr.printrowsubheading {
	font-weight: bold;
	font-style: italic;
	color: #545454;
}

.printtable tr.printrowheadingtwo {
	font-weight: bold;
	margin-top: 15pt;
}

#desp .printtable tr.printsummary {
	font-weight: bold;
}

#desp .printblock td {
	padding: 3.75pt;
}

#desp .printtabletrenner {
	height: 18.75pt;
}

#desp td.assessment {
	width: 5%;
}

#desp td.descriptor {
	width: 90%;
}

#desp td.legend {
	width: 15%;
}

#desp td.text {
	width: 85%;
}

#desp table.ratingtable {
	
	-webkit-border-radius: 3.75pt;
	-moz-border-radius: 3.75pt;
	border-radius: 3.75pt;
	border-collapse: collapse;
}

#desp table.bordertable td {
		border: 1pt solid #848484;
}

#desp table.ratingtable .ratings td, .ratingtable .ratinguser td, .ratingtable .ratingtext td {
		border: 1pt solid #848484;
}

#desp .ratingheading h3 {
	display: inline;
}

#desp .ratingsubhead {
	font-size: 9pt;
	padding-left: 12pt;
}

#desp .ratingtable .ratingfirst, #desp .ratingtable .rating {
	text-align: center;
}

#desp .ratingtable .rating, .ratinguser td {
	background-color:#dcdcdc;
}

#desp .ratinguser td {
	background-color:#dcdcdc;
	font-size: 9pt;
}

#desp #languages h3.despsp3 {margin-bottom:2pt;padding-bottom:2pt;}