#desp a.lernplanwarnung {color:red;}

#desp img.c2 {margin:0; padding:0; border:0;}
#desp div.c1 {clear:both;}

#desp option {padding-left: 0.4em}

#desp fieldset, #desp img { border:0; }

#desp select, #desp input, #desp textarea { font-size: 99% }

#desp .clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}

#desp .clearfix {display: inline-block;}
#desp .clearfix  {display: block;}


#desp #top, #desp .copydesp {
	width: 860px; 
	position: relative;  
	margin: 0px auto 0px auto;
}

#desp .logo {
	margin: 29px 0 0 0;
}


	
#desp #page_margins {
	wwidth: 860px; 
	position: relative;  
	margin: 0px auto 0px auto;
	padding: 0 0 80px 0;
}

#desp #content {
	margin: 0;
	padding: 0;
}

#desp #page_margins h1 {
	font-size: 24px !important;
	font-style:italic;
	margin-bottom:20px;
}

#desp #page_margins h1.h1back {
	font-size: 16px !important;
	background-color: #fdd68e;
	font-style: normal;
	padding: 4px 0;
	margin-bottom:0px;
	text-align:left;
}

#desp .sprachlernplantab th {
	text-align:left;
}

#desp h1.h1lesen {
	padding-left: 50px;
}

#desp h1.h1schreiben {
	padding-left: 50px;
}

#desp h1.h1zusammen {
	padding-left: 50px;
}

#desp h1.h1hoeren {
	padding-left: 50px;
}

#desp h1.h1gespreaeche {
	padding-left: 50px;
}

#desp .page_margins h2 {
	font-size: 19px !important;
	font-style:italic;
	margin: 0 0 20px 0;
}

#desp .spasslangblock {
	margin-bottom:40px;
}

#desp #page_margins table h2 {
	font-size: 19px;
	font-style:normal;
	margin: 10px 0 0 0;
}

#desp #content hr {
  border: 0px;
  border-bottom: 2px solid #FDD68E;
}


#desp .absatz_image_float {
	margin:  20px 0 20px 0;
	padding: 0 85px 0 0;
}




#desp .float_image_left {
	padding-right:20px; 
	float:left;
	margin-bottom:10px;
}


#desp .float_image_right {
	padding-left:20px; 
	float:right;
	margin-bottom:10px;
}

#desp .clearer {
	clear: both;
}


#desp table#params input.name {
			width: 90%;
			border: none;
			background-color: transparent;
		}

#desp table#params input.value {
			width: 90%;
			border: none;
			background-color: transparent;
		}
		
#desp #messagebox {
	margin-left: 20px;
}

#desp #messagetxt {
	padding:10px;
}

#desp table.tableform1, #desp table.tableform2, #desp table.tableform3 {
	width:100%;
	border-collapse:collapse;
}

#desp table.vzartableleg {
	border-collapse:collapse;
	width:45%;
}

#desp table.tableform1 td {
	width:25%;
	background-color: #FFFFFF;
}

#desp table.tableform1 td.tdlang {
	width:160px;
}
#desp table.tableform1 td.tddelete {
	width:11px;
}

#desp table.tableform2 td, #desp table.tableform3 td, #desp table.vzartableleg td {
	background-color: #FFFFFF;
}

#desp table.tableform1 th, #desp table.tableform2 th, #desp table.tableform3 th, #desp table.vzartableleg th {
	background-color: #FDD68E;
	font-weight:normal;
}

#desp table.tableform1 td, #desp table.tableform1 th, #desp table.tableform2 td, #desp table.tableform2 th, #desp table.tableform3 td, #desp table.tableform3 th, #desp table.vzartableleg td, #desp table.vzartableleg th {
	border: 2px #FDD68E solid !important;
	padding:5px 10px;
	vertical-align:top;

}


#desp table.vzartableleg th {
	text-align:left;
}

#desp table.vzartable td {
	height:40px;
}

#desp table.vzartableleg1 {
	float:left; margin-right:50px;
}


#desp table.tableform1 textarea {
	border: 0;
}

#desp .txtsmall {
	font-size: 12px;
}

#desp table.tableform2 th.listselect, #desp table.tableform2 td.listselect {
	width: 65px;
	vertical-align:bottom;

	text-align:center;
}

#desp table.tableform2 td.listfirst {
	width: 15px;
}

#desp input.topinput {
	background-color: #FFFFFF;
	border: 2px dotted #FDD68E;
	height: 25px;
	padding:3px 5px;
}



#desp table.tableform2 td.listsubquest {
	padding-left: 45px;
}

/* ########## Uebersicht Sprachlernplaene ########### */

#desp #messagetxtslp1 {
    padding:10px;
}

#desp #messagetxtslp1 a {
	color: #000;
}

#desp #messagetxt a {
	color: #000;
}

#desp #messagetxtslp3 a {
	color: #000;
}

/* ########## Uebersicht Sprachlernplaene ########### */


#desp #messagetxtslp1 {
    padding:10px;
}

#desp #messageboxslp2 {
	margin-left: 0px;
	margin-top:20px;
}

#desp #messagetxtslp2 {
    padding:10px;
}



#desp #messagetxtslp2 a {
    color: #000 !important;
}

#desp #messagetxtslp2 .messagetxthide {
    display: none;

}

#desp #messagetxtslp2:hover .messagetxthide {
    display: block;

}

#desp #messagetxtslp1 .messagetxthide {
    display: none;

}

#desp #messagetxtslp1:hover .messagetxthide {
    display: block;

}

#desp #messagetxtslp2:hover .mehrtext {
    display: none;

}

#desp #messageboxslp3 {

	margin-top:20px;
}

#desp #messagetxtslp3 {

    padding:10px;

}

#desp #messageboxsg2 {

	margin-left: 0px;
	margin-top:20px;
}

#desp #messagetxtsg2 {

    padding:10px;

}


#desp #messagetxthidesuk a {
    color: #000 !important;
}

#desp #messagetxthidesuk .messagetxthide {
    display: none;

}

#desp #messagetxthidesuk:hover .messagetxthide {
    display: block;

}

#desp #messagetxthidesuk:hover .mehrtext {
    display: none;

}



#desp #page_margins a.overview {
	font-size: 20px;
	font-style:italic;
	margin: 0 120px 20px 60px;
	background-color: #fdd68e;
	font-style: normal;
	padding: 4px 0;
	display: block;
	color: #646464;
	padding-left: 50px;
}



#desp table.tableform3 th.slp {
	font-size:12px;
}

#desp table.tableform3 th.slp2 {
	width: 95px;
}

#desp table.tableform3 th.slp3 {
	width: 120px;
}

#desp table.tableform3 input {
	border:0;
}

#desp table.tableform3 input.date {

	border: 1px solid #c2c2c2;
}

#desp #page_margins input.date {
	width: 80px !important;
}

#desp .selectlernpartner {
	max-width:180px;
}

#desp table.tableform3 td {}

#desp table.tableform3 textarea {
	border: 0;
	width: 100%;
}

#desp .tddate {
	width:60px;
}

#desp .tdpartner {
	width:100px;
}

#desp .tdlang {
	width:160px;
}

#desp .tddelete {
	width:11px;
}

#desp th.tableses1 {
	width:260px;
}

#desp th.tableses2 {
	text-align:center;
}

#desp table.overviewses a.overview {
	
}

#desp table.overviewses td.1 {
	background: #f04916 url([[pix:theme|ov_skill1]]) repeat-x 0 0;
	padding-left:20px;
}

#desp table.overview_sesyell td {
	background-color: #ffefd3;
}


#desp table.overviewses a.goto {
	display:block;
	background: #ffefd3 url('images/goto.gif') no-repeat center;
	height:25px;
}

#desp table.overviewses a:hover.goto {
	background-color: #fdd68e;
}

#desp table.overviewses td {
	vertical-align: middle;
}

#desp table.tableform3 td.sk1 {
	width: 20px;
	vertical-align: middle;
}

#desp table.tableform3 td.kgb2 {
	width:150px;
}

#desp table.tableform3 td.kgb25p, #desp table.tableform3 th.kgb25p {
	width:25%;
	text-align:left;
}

#desp table.tableform3 th.kgb2, #desp table.tableform3 th.kgb1, #desp table.tableform3 td.kgb, #desp table.tableform3 th.kgb {
	text-align:left;
}

#desp .grey {
	color: #5c5c5c;
}

#desp ul.kgblist li {
	list-style-type:none;
	padding-left: 20px;
}

#desp ul.kgblist .kgbdate {
	margin-right:10px;
	color: #5c5c5c;
}

#desp input.headform {
	border: 1px solid #c2c2c2;
	padding:5px;
}


#desp table.tableform3 th.vzar1 {
	width:20px;
}

#desp table.tableform3 th.vzar3 {
	width:50px;
}

#desp table.tableform3 th.vzar1, #desp table.tableform3 th.vzar2, #desp table.tableform3 th.vzar3 {
	text-align:left;
}

#desp td.vzar1 input {
	width:50px;
}

#desp td.vzar2 input {

}

#desp td.vzar3 input {
	width:100px;
}

#desp #messagetxtses1 {
    padding:10px;
}

#desp #messageboxses2 {
	margin-top:20px;
}

#desp #messagetxtses2 {
    padding:10px;
}

#desp #messageboxses2 a {
	color: #000 !important;
}

#desp #messageboxses2 .messagetxthide {
	display: none;

}

#desp #messageboxses2:hover .messagetxthide {
	display: block;

}

#desp #messageboxses2:hover .mehrtext {
    display: none;
	
}

#desp .startsymbhide {
	text-align: center;
	margin: 0 auto 0 auto;
}

#desp .startsymbhide {
	width:216px;
}

#desp .startsymbhide .messagetxthide, #desp .messagetxthidetwo {
	display: none;
	background-color:#feefd4;
	margin:0 10px 10px 10px;
	padding: 10px;
	-moz-box-shadow: 2px 2px 1px #c9c5bb;
    -webkit-box-shadow: 2px 2px 1px #c9c5bb;
    box-shadow: 2px 2px 1px #c9c5bb;
}

#desp .messageimportantinfo {
	background-color:#009122;
	color:#fff;
	margin:0 10px 10px 10px;
	padding: 10px;
	-moz-box-shadow: 2px 2px 1px #c9c5bb;
    -webkit-box-shadow: 2px 2px 1px #c9c5bb;
    box-shadow: 2px 2px 1px #c9c5bb;
}

#desp .startsymbhide .hidebio {
	margin: 0 auto 0 auto;
	padding:10px;
	width: 216px !important;
}

#desp .startsymbhide:hover .messagetxthide {
	display: block;

}


#desp .mehrtext {
	color: #f25f2c;
}

#desp #messagetxtses2 ul {
	padding-left: 20px;
	margin: 0;
}

#desp #page_margins h3 {
	font-size: 19px;
	font-style:italic;
	margin: 0 0 20px 0;
}

#desp #messagetxtsk {
    padding:10px;
}


/* ########## Startseite ########### */


#desp #startcol {
	clear: both;
	width: 100%;
	margin: 0 auto 0 auto;

}

#desp #startcolx2 {
	clear: both;
	width: 100%;
	margin: 0 auto 0 auto;

}

#desp #startcols1 {
	width: 30%;
	float:left;
	margin: 0 10px 10px 0;
	text-align:center;
}

#desp #startcols2 {
	width: 30%;
	float:left;
	margin: 0 10px 10px 10px;
	text-align:center;
}

#desp #startcols3 {
	width: 30%;
	float:left;
	margin: 0 0 10px 10px;
	text-align:center;
}




#desp #startcols21 {
	width: 30%;
	float:left;
	margin: 0 10px 10px 0;
	text-align:center;
}

#desp #startcols22 {
	width: 30%;
	float:left;
	margin: 0 0 10px 10px;
	text-align:center;
}

#desp #startcols23 {
	width: 30%;
	float:left;
	margin: 0 0 10px 10px;
	text-align:center;
}


#desp #startcol h3, #desp #startcolx2 h3 {
	font-size: 20px;
	font-style: italic;
	margin: 0 0 5px 25px;
	font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

#desp #startcol h4, #desp #startcolx2 h4 {
	font-size: 17px;
	font-style: italic;
	font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

#desp #startcol h5, #desp #startcolx2 h5 {
	font-size: 13px;
	font-style: italic;
	text-transform: none;
	font-weight:bold;
	font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
	margin: 10px 0 10px 0;
}

#desp #startcolx2 h5.tog1 {
	margin: 10px 0 5px 0;
}

#desp #startcolx2 h5.tog {
	margin: 5px 0 5px 0;
}

#desp #startcolx2 h5.togl {
	margin: 5px 0 33px 0;
}


#desp .startpfeil {
	margin: 5px 0 5px 0;
}

#desp .hrline {
	border:solid #f7b230 1px;
	height:1px;
}

#desp #page_margins a {
	color:#0044cc !imporatant;	
}

#desp .handwriting {
	font-family: 'Coming Soon', 'Trebuchet MS', Verdana, Arial, sans-serif;
}

#page-content #region-main-box #region-post-box #region-main-wrap #region-main .region-content #desp{
    overflow: auto !important;
}
 
#desp .mform .fitem .fitemtitle {
	width: 25% !important;
}


#desp .infoBox {
background-color:#F9FCFF;
border:8px solid #0090E0;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#5F5F5F;
padding:15px;
}

#desp h2.desp_sk_zwheader {
	margin: 30px 0 25px 0;
}

#desp .sprachenchecklistdesp {
	margin: 5px 0 0 15px;
	padding: 0;
	font-size: 13px;
}

#desp .spgerstbl{table-layout:fixed;border-collapse: collapse;border:1px black solid;}
#desp .spgerstbl td{padding:4px;}
#desp .spgers_h3,#desp .spgers_h4,#desp .spgers_h5{
	background-color:#6e6e70;color:white;size:24px;font-weight:bold;text-align:center;
}
#desp .spgers_s1 {background-color:#e7e7e8;color:black;vertical-align:center;text-align:center;border:1px black solid;}
#desp .spgers_s2 {background-color:#bdbec1;color:black;font-weight:bold;padding:0 7px;vertical-align:middle;text-align:center;border:1px black solid;}
#desp .spgers_s3,#desp .spgers_s4,#desp .spgers_s5{font-size:10px;border:1px black solid;vertica-align:top;text-align:left;}
#desp .spgers_s1 img {padding:5px 3px;}
#desp .spgers_s2 img {padding:5px 4px;}

#desp .selbox_exaportitems {max-width:170px;font-size:11px;}
#desp .desp_sp_einstellungen_dossier_select {width:250px;margin-left:0px;margin-bottom:8px;}
#desp .desp_sp_einstellungen_dossier_select2 {width:250px;margin-left:0px;margin-bottom:3px;}
#desp .desp_sp_esh3 {padding-bottom:1px;margin-bottom:2px;font-weight:normal;margin-top:0px;}
#desp .desp_sp_einst_gers {margin:20px 0 10px 0;}

#desp .sp_exaport .desp_sp-view-item-header {font-weight:bold;font-size:18px;}
#desp .sp_exaport{margin-top:15px;}
#desp .despsp2{margin-top:20px;}


#desp .messagetxtslp2 ul li {
	font-family: 'Trebuchet MS',Verdana,Arial,sans-serif !important;
}

#desp #page_margins h1,#desp #page_margins h2,#desp h3, #desp h4,#desp h5,#desp h6, #desp p, #desp #page_margins ul, #desp #page_margins ol, #desp #page_margins dl, #desp input, #desp textarea {
    font-family: 'Trebuchet MS',Verdana,Arial,sans-serif !important;
}

#desp .link_center {
	 color: #F25F2C;
}

#desp h2.despsp2 {
	font-size: 19px !important;
}
#desp h3.despsp3 {
	font-size: 17px !important;
}

#desp .startsymbhide img {
	display: none;
}
#desp #messageboxslp1, #desp #messageboxslp2, #desp #messagebox, #desp #messageboxslp1, #desp #messageboxslp3, #desp #messageboxsg2, #desp #messageboxses1, #desp #messageboxses2, #desp #messageboxsk {
	background: none !important;
}

#desp #messagetxtslp1, #desp #messagetxtslp3 {
	width: 100% !important;
}

#desp .overview_sesyell a, #desp .sprachlernplantab h1, #desp .overviewses img, #desp .ov_skill1, #desp .ov_skill2, #desp .ov_skill3, #desp .ov_skill4, #desp .ov_skill5 {
		background-image: none !important;
}

#desp .ov_skill1, #desp .ov_skill2, #desp .ov_skill3, #desp .ov_skill4, #desp .ov_skill5 {
padding-left: 10px !important;
}

#desp .sprachlernplantab h1 {
	padding-left: 0 !important;
}

#desp .startsymbhide h4 {
	margin-bottom: 0 !important;
}

/* background-transparent Link in Tabelle Sprachen und Kulturen */
#desp #page_margins .overview_sesyell a.overview {
	background-color: transparent;
}



