	###outputheader###
	<div id="desp">
	<div id="page_margins">
		<div id="content">
			<h1 class="printderpass">###HEADER###</h1>
			<div id="messageboxslp1" style="background: url(images/message_sp1.gif) no-repeat left top;">
					<div id="messagetxtslp1">
						###sprachenpass_inhalt###
					</div>
			</div>
	    <div id="messageboxslp2" style="background: url(images/message_sp2.gif) no-repeat left top;">
        <div id="messagetxtslp2">###sprachenpass_inhalt2###<a href="http://www.europass.at" alt="Europass Sprachenpass"><span style="color:#F25F2C !important;">###europasssprachenpass###</span></a>.
         </div>
      </div>	
	
	
	
			<br /><a href="###wwwroot###/sprachenpass.php?courseid=###courseid###&amp;es=1">###sprachenpasseinstellungen###</a>

			<br /><br />

			<div id="languages">
				###inhalt###
			</div>
		</div>
	</div>
</div>
###outputfooter###
	
	