<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles_print.css">
</head>
<body>
	<div class="printpage" id="printsectionhoch">
		<div class="clearfix">
			<div class="printtable">

				
				<table>
					<tr>
						<td style="width:444px;"><h1 class="derpass" style="font-size: 24px;font-style:normal;margin-bottom:20px;">Dieser Pass gehört</h1>
							<h2 style="font-size: 19px;font-style:normal;margin: 0 0 20px 0;color:#707173;font-weight: normal;">This passport belongs to<br />
							Ce passport appartient à</h2></td>
						<td></td>
					</tr>
				</table>
				<div style="width:444px;">
					<div style="float:right"></div>
					<br/><br/>
					<table style="margin-top:90px;">
						<tr>
							<td style="width:153px;float:left;border-bottom: 1px solid #000;font-size: 19px;font-weight:bold;">Name</td>
							<td style="width:20px"></td>
							<td style="width:426px;border-bottom: 1px solid #000;font-size: 19px;font-weight:bold;">###firstname### ###lastname###</td>
						</tr>
						<tr>
							<td style="font-size: 16px;color:#707173;">Name<br />Nom</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="width:153px;float:left;border-bottom: 1px solid #000;font-size: 19px;font-weight:bold;padding-top:70px;">Wohnort</td>
							<td style="width:20px"></td>
							<td style="width:426px;border-bottom: 1px solid #000;font-size: 19px;font-weight:bold;padding-top:70px;">###city###</td>
						</tr>
						<tr>
							<td style="font-size: 16px;color:#707173;">Place of Residence<br />Lieu de residence</td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<div id="languages">
						###inhalt###
					</div>

					<div class="printfirstsite" style="page-break-after: always;"></div>
				</div>
			</div>	
		</div>	
	</div>
</body>
</html>